<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 4220/5223 + MATH 4260</h1>
      <h2>Numerical Analysis: Linear and Nonlinear Problems</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Gates G01<br/>
        Lecture: MWF 11:20-12:10
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a>
        (<a href="mailto:bindel@cornell.edu">bindel@cornell.edu</a>)<br/>
        OH: Tue 2-3, Wed 2-3, Thu 2-3 (Gates 425), <a href="https://outlook.office365.com/owa/calendar/BindelOH@cornellprod.onmicrosoft.com/bookings/">or by appt</a>
      </p>
      <p>
        TA: Eric Chen
        (<a href="mailto:emc348@cornell.edu">emc348@cornell.edu</a>)<br/>
        OH: Fri 3:30-4:30, Rhodes 402
      </p>
      <p>
        TA: Kangbo Li
        (<a href="mailto:kl935@cornell.edu">kl935@cornell.edu</a>)<br/>
        OH: Mon 4-5, Rhodes 402
      </p>
      <p>
        TA: Abhay Singh (<a href="mailto:as2626@cornell.edu">as2626@cornell.edu</a>)<br/>
        OH: Fri 2:30-3:30, Rhodes 402
      </p>      
    </div>
    </div>
  </div>
</div>
